html {
    scroll-behavior: smooth;
  }
.ex {

width:100%;
height:8%;
margin-bottom: 20%;
background-color:#005b9e;;
}

  .btn {
    margin: 10px;
    background-color: white;
    border: none;
    border-radius: 2px;
    padding: 15px;
    font-family: serif;
    font-size: 22px;
    color: #2d2769;
    outline: none;
  
    margin-top: -17%;
    margin-bottom: 13%;
    float: right;
 
  
  }
  .btn:hover {
    color:white;
    background-color: #2d2769;
    border-radius: 5px;

}
.containe{
    background-color: rgb(18, 18, 80);
text-align: center;
font-family:Verdana, Geneva, sans-serif ;
width:100%;
height:15%;
margin-bottom: 5%;
margin-top: -5%;


}
.Home{
color: rgb(33, 33, 87);
font-size: 20px;
margin-left: 10px;

}

.Home:hover{
  color: #337ab7;
}
.About{
    color: white;
    font-size: 18px;
    text-align: center;
}
h1{
text-align: center;
color: white;
margin-top: 30px;
margin-top: -5%;
padding: 20px;
}

p{

    display: block;
    margin-left:174px;
 
    width:45%;
font: 14px/1.7 "Source Sans Pro",sans-serif;
font-family: helvetica neue,Helvetica,Arial,sans-serif;
    font-size:18px;
    line-height: 1.42857143;
    color: #333;



}

h3{
    color: rgb(22, 22, 97);
    font-size: 30px;
        
    font-family:Verdana, Geneva, sans-serif ;
    margin-left: 174px;  
}




.img{
    width: 10%;
    border-radius: 50%;
    border: 3px solid rgb(21, 21, 71);
    padding: 10px;
    margin: 0!important;
    box-sizing: content-box;
    margin-left: 160px;
    display: inline;
    float: left;
    margin-right: 30%;
}
.img:hover{
    border: 3px solid  #337ab7;;
}


hr{
    
    border: 0;
    margin: 2em 0;
    height: 1px;
    color: #eee;
    background-color: #eee;
}




.us:hover{
    background-color:rgb(26, 26, 98);
color: white;
text-decoration:none ;
    
}

.us{
 color: #333;
 transition: all .3s linear;
 
}

  #up{
      transition: all 0.5s;
  }
.top{
    float: right;
    position: relative;
    bottom: 82px;
    right: 20px;
    border-radius: 5px;
}
#button {
    background-color: #005b9e;
    height: 50px;
    width: 50px;
    font-size: 40px;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#button:hover{
   background-color:  #2d2769;

} 


#footer{
    background-color: black;
    color: #cccccc;
    font-family:Verdana, Geneva, sans-serif ;
    width:100%;
    height:15%;
    font-weight: 700;
    margin-top: -1%;
   text-align: center;
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 10px;

}

.link a{
    color: #385898;
    cursor: pointer;
    text-decoration: none;
    line-height: 18px;
font-size:18px;
padding: 22px;
margin-left:102px;
direction: ltr;
unicode-bidi: isolate;
cursor: pointer;
background-color: transparent;
font-family: inherit;
}
 .link a:hover {
    color: #385898;;
    text-decoration: underline;
  }


#img{
float: right;;
margin-right: 1220px;
margin-bottom: -58px;
}